server:
  port: 8082

spring:
  application:
    name: inventory-service
  
  datasource:
    url: jdbc:h2:mem:inventorydb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true  # data.sql 실행을 DDL 이후로 미룸

logging:
  level:
    org.example: DEBUG
    org.springframework.web: DEBUG