spring:
  application:
    name: order-service

server:
  port: 8081

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  topics:
    order-created: order-created
    order-completed: order-completed
    order-cancelled: order-cancelled
